.seat-booking-container {
  text-align: center;
}

.seat-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Adjust the number of columns as needed */
  grid-gap: 10px; /* Adjust the gap between seats as desired */
  justify-items: center;
}

.seat {
  width: 50px; /* Adjust the width of each seat */
  height: 50px; /* Adjust the height of each seat */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
}

.seat span {
  font-size: 14px; /* Adjust the font size of the seat number */
}

.seat.green {
  background-color: green;
}

.seat.red {
  background-color: red;
}
.row{
  display: grid;
  grid-template-row: repeat(6,1fr);

}